body{
    background-color: rgb(223, 217, 174);
    justify-content: center;
    align-items: center;
    display: flex;
}
.Profile {
    background-color: white;
    width: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #3498db;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}
.social-icons img {
    width: 30px;
}
th{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}