* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("https://img.freepik.com/free-vector/pixel-art-rural-landscape-background_52683-125383.jpg?t=st=1738768896~exp=1738772496~hmac=362f1ac00be93baf137a80c002aa0119fe99d1f404cdc102bbf05434a7a64b83&w=900");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
p {
    text-align: center;
    font-family: Arial, sans-serif;
}